appdata/sonarr/logs
appdata/sonarr/MediaCover
appdata/lidarr/MediaCover
appdata/radarr/MediaCover
appdata/readarr/MediaCover
appdata/recyclarr/logs
**/log/**
**/logs/**
appdata/bazarr/cache/
appdata/bazarr/config/analytics_visitor_id.txt
appdata/bazarr/config/analytics.dat
appdata/bazarr/config/announcements.json
appdata/bazarr/config/config.ini.old
appdata/bazarr/config/releases.txt
appdata/bazarr/config/throttled_providers.dat
appdata/bazarr/db/bazarr.db
appdata/bazarr/db/bazarr.db-shm
appdata/bazarr/db/bazarr.db-wal
appdata/cloudflare-ddns/
appdata/authelia/db.sqlite3
appdata/authelia/notification.txt
appdata/authelia/users_database.yml
appdata/jacket/Jackett/log.txt
appdata/jacket/Jackett/updater.txt
appdata/jacket/Jackett/updater.txt.20210424.00000.txt
appdata/jacket/Jackett/updater.txt.20210504.00000.txt
appdata/jacket/Jackett/updater.txt.20210512.00000.txt
appdata/jacket/Jackett/updater.txt.20210524.00000.txt
appdata/jacket/Jackett/updater.txt.20210603.00000.txt
appdata/jacket/Jackett/DataProtection/key-83ebebd9-d102-44df-a4c8-4a0948b21ef9.xml
appdata/jacket/Jackett/DataProtection/key-b95673c5-89ea-4991-a6e8-0598fecac8fa.xml
appdata/jacket/Jackett/Indexers/kickasstorrents-to.json
appdata/jacket/Jackett/Indexers/kickasstorrents-to.json.bak
appdata/lidarr/lidarr.db
appdata/lidarr/lidarr.pid
appdata/lidarr/logs.db
appdata/lidarr/.config/.mono/keypairs/\[1]\[98f3a7e3-0d6e-f432-8a18-e1144b53633f]\[-1].xml
appdata/lidarr/asp/key-7c6afe22-cd86-4a78-a34c-115f9d90e4dd.xml
appdata/lidarr/asp/key-15b6b7cc-524a-42ba-a4f8-87e4d6b549fe.xml
appdata/lidarr/asp/key-27bd9059-a636-49f8-9975-8083e0a28c79.xml
appdata/lidarr/asp/key-97d8256c-f76c-45b2-b08c-27292b08ad21.xml
appdata/lidarr/asp/key-40114425-60f6-4292-84b8-f04892dd5353.xml
appdata/lidarr/asp/key-ad1ceab2-b8de-46bc-845a-ef4aef113e46.xml
appdata/lidarr/asp/key-bb8eb28e-9a15-4f77-81b2-e677ef8aa20f.xml
appdata/lidarr/asp/key-ca7056ce-37b5-4b9a-89c8-3b84ec878b37.xml
appdata/lidarr/asp/key-eaf3ef06-c3a4-49b9-86cf-359d87aa50f0.xml
appdata/qbittorrent/qBittorrent/lockfile
appdata/qbittorrent/qBittorrent/lockfile.old
appdata/qbittorrent/qBittorrent/qBittorrent-data.conf
appdata/qbittorrent/qBittorrent/BT_backup/7a9c4a72e79fcf5f65f091e462b60e589af3f865.fastresume
appdata/qbittorrent/qBittorrent/BT_backup/7a9c4a72e79fcf5f65f091e462b60e589af3f865.torrent
appdata/qbittorrent/qBittorrent/BT_backup/9cbdc6927dc328ceb82fdd695d709a23db3ec80b.fastresume
appdata/qbittorrent/qBittorrent/BT_backup/9cbdc6927dc328ceb82fdd695d709a23db3ec80b.torrent
appdata/qbittorrent/qBittorrent/BT_backup/24fbc2010f3e0e1d238fb3d55a043f0d6bff1709.fastresume
appdata/qbittorrent/qBittorrent/BT_backup/1447bb03de993e1ee7e430526ff1fbac0daf7b44.fastresume
appdata/qbittorrent/qBittorrent/BT_backup/1447bb03de993e1ee7e430526ff1fbac0daf7b44.torrent
appdata/qbittorrent/qBittorrent/BT_backup/9749fe1854dc69413a8fb2fe62ccd2c7868dcd6d.fastresume
appdata/qbittorrent/qBittorrent/BT_backup/a8f2b5e67788128cd4f23dcfcb5826f2a5021a07.fastresume
appdata/qbittorrent/qBittorrent/BT_backup/a8f2b5e67788128cd4f23dcfcb5826f2a5021a07.torrent
appdata/qbittorrent/qBittorrent/BT_backup/ab6ad7ff24b5ed3a61352a1f1a7811a8c3cc6dde.fastresume
appdata/qbittorrent/qBittorrent/BT_backup/ab6ad7ff24b5ed3a61352a1f1a7811a8c3cc6dde.torrent
appdata/qbittorrent/qBittorrent/BT_backup/b2320c37f1eb931b43c685e1344c0cd096a5235c.fastresume
appdata/qbittorrent/qBittorrent/BT_backup/cdee3052d85c697b84f4c1192f43a2276c0daea0.fastresume
appdata/qbittorrent/qBittorrent/BT_backup/cdee3052d85c697b84f4c1192f43a2276c0daea0.torrent
appdata/qbittorrent/qBittorrent/BT_backup/d4bff1cf732afed4cf1507349c08e55d6b293eee.fastresume
appdata/qbittorrent/qBittorrent/BT_backup/queue
appdata/qbittorrent/qBittorrent/BT_backup/session.lock
appdata/qbittorrent/qBittorrent/GeoDB/dbip-country-lite.mmdb
appdata/qbittorrent/qBittorrent/nova3/__init__.py
appdata/qbittorrent/qBittorrent/nova3/helpers.py
appdata/qbittorrent/qBittorrent/nova3/nova2.py
appdata/qbittorrent/qBittorrent/nova3/nova2dl.py
appdata/qbittorrent/qBittorrent/nova3/novaprinter.py
appdata/qbittorrent/qBittorrent/nova3/sgmllib3.py
appdata/qbittorrent/qBittorrent/nova3/socks.py
appdata/qbittorrent/qBittorrent/nova3/engines/__init__.py
appdata/qbittorrent/qBittorrent/rss/feeds.json
appdata/qbittorrent/qBittorrent/rss/storage.lock
appdata/qbittorrent/qBittorrent/rss/articles/storage.lock
appdata/radarr/logs.db
appdata/radarr/radarr.db
appdata/radarr/radarr.db-shm
appdata/radarr/radarr.db-wal
appdata/radarr/radarr.pid
appdata/radarr/asp
appdata/radarr/Sentry/E052B02F117E6BB423BE301CDA607148F4B3F8F6/.installation
appdata/readarr/cache.db
appdata/readarr/logs.db
appdata/readarr/readarr.db
appdata/readarr/readarr.db-shm
appdata/readarr/readarr.db-wal
appdata/readarr/readarr.pid
appdata/readarr/asp
appdata/recyclarr/cache
appdata/sabnzbd/sabnzbd.ini.bak
appdata/sabnzbd/admin/history1.db
appdata/sabnzbd/admin/postproc2.sab
appdata/sabnzbd/admin/queue10.sab
appdata/sabnzbd/admin/Rating.sab
appdata/sabnzbd/admin/rss_data.sab
appdata/sabnzbd/admin/server.cert
appdata/sabnzbd/admin/server.key
appdata/sabnzbd/admin/totals10.sab
appdata/sabnzbd/admin/watched_data2.sab
appdata/sabnzbd/admin/future/SABnzbd_attrib
appdata/sabnzbd/admin/future/SABnzbd_nzo_brd80626
appdata/sabnzbd/admin/future/SABnzbd_nzo_yerfjsab
appdata/sonarr/logs.db
appdata/sonarr/nzbdrone.pid
appdata/sonarr/sonarr.db
appdata/sonarr/sonarr.db-shm
appdata/sonarr/sonarr.db-wal
appdata/sonarr/sonarr.pid
appdata/sonarr/asp
appdata/sonarr/Sentry/07ADDC43B5669C4F6DB64F2EF2B23B3FEEDFE865/.installation
appdata/sonarr/Sentry/07ADDC43B5669C4F6DB64F2EF2B23B3FEEDFE865/.session
appdata/sonarr/xdg/.mono/keypairs/\[1]\[98f3a7e3-0d6e-f432-8a18-e1144b53633f]\[-1].xml
letsencrypt/
appdata/lidarr/logs.db-shm
appdata/lidarr/logs.db-wal
appdata/lidarr/Sentry/
appdata/lidarr/asp/
appdata/lidarr/lidarr.db-shm
appdata/lidarr/lidarr.db-wal
appdata/qbittorrent/qBittorrent/BT_backup/
appdata/readarr/Sentry/
appdata/readarr/logs.db-shm
appdata/readarr/logs.db-wal
docker-compose.bak
appdata/radarr/Sentry/
appdata/radarr/logs.db-shm
appdata/radarr/logs.db-wal
downloads/
appdata/bazarr/cache_old/
appdata/sonarr/Sentry/
appdata/agregarr/db/db.sqlite3
appdata/agregarr/db/db.sqlite3-shm
appdata/agregarr/db/db.sqlite3-wal
appdata/agregarr/icons/icons-metadata.json
appdata/agregarr/posters/
appdata/agregarr/random-lists/imdb.txt
appdata/agregarr/random-lists/letterboxd.txt
appdata/agregarr/random-lists/tmdb.txt
appdata/agregarr/random-lists/trakt.txt
appdata/agregarr/youtube-cookies.txt
appdata/cleanuparr/DataProtection-Keys/key-7f2d5ea0-3778-4bc2-8de6-e0a44d0f66e2.xml
appdata/cleanuparr/cleanuparr.db
appdata/cleanuparr/cleanuparr.db-shm
appdata/cleanuparr/cleanuparr.db-wal
appdata/cleanuparr/events.db
appdata/cleanuparr/jwt-key.bin
appdata/cleanuparr/users.db
appdata/maintainerr/maintainerr.sqlite
appdata/mcsmanager-daemon/daemon/data/InstanceData/
appdata/mcsmanager-daemon/daemon/data/InstanceLog/
appdata/mcsmanager-web/data/RemoteServiceConfig/e73a7e09fab54f469568a85c2f9b1bb5.json
appdata/mcsmanager-web/data/current-version.txt
appdata/mcsmanager-web/data/market_cache.json
appdata/mcsmanager-web/data/operation_logs/global.jsonl
appdata/profilarr/db/
appdata/profilarr/profilarr.db
appdata/recyclarr/recyclarr.yml.bak
appdata/recyclarr/resources/config-templates/git/official/
appdata/recyclarr/resources/trash-guides/git/official/
appdata/recyclarr/state/radarr/ba7bbdd9/custom-format-mappings.json
appdata/recyclarr/state/radarr/f1bc3f56ddbe72f5/custom-format-mappings.json
appdata/recyclarr/state/radarr/main_ba7bbdd9/custom-format-mappings.json
appdata/recyclarr/state/sonarr/d341bff34568e566/custom-format-mappings.json
appdata/seerr/db/db.sqlite3
appdata/seerr/db/db.sqlite3-shm
appdata/seerr/db/db.sqlite3-wal
appdata/seerr/settings.old.json
appdata/tautulli/cache/
appdata/tautulli/release.lock
appdata/tautulli/tautulli.db
appdata/tautulli/version.lock
appdata/tunarr/cache/
appdata/tunarr/channel-lineups/0aadbc27-6a29-4d2e-8f97-ce30aba6adb2.json
appdata/tunarr/channel-lineups/39730922-9291-45f8-ba86-5399c8027545.json
appdata/tunarr/channel-lineups/4893cb74-afc2-442f-a2d5-cbc251448af5.json.bak
appdata/tunarr/channel-lineups/a427a3d6-c852-4d7a-8bbc-7da2c9b9e2e8.json
appdata/tunarr/data.ms/VERSION
appdata/tunarr/data.ms/auth/data.mdb
appdata/tunarr/data.ms/auth/lock.mdb
appdata/tunarr/data.ms/indexes/1fc17d18-fc97-4570-8962-c1ce38fe58ba/data.mdb
appdata/tunarr/data.ms/indexes/1fc17d18-fc97-4570-8962-c1ce38fe58ba/lock.mdb
appdata/tunarr/data.ms/tasks/data.mdb
appdata/tunarr/data.ms/tasks/lock.mdb
appdata/tunarr/db-1772061227749.bak
appdata/tunarr/db-1772061227940.bak
appdata/tunarr/db-1772061228231.bak
appdata/tunarr/db.db
appdata/tunarr/db.db-shm
appdata/tunarr/db.db-wal
appdata/tunarr/ms-snapshots/.tmpFhmHgc
appdata/tunarr/ms-snapshots/.tmpI5fkhh
appdata/tunarr/ms-snapshots/.tmpYzFz0l
appdata/tunarr/ms-snapshots/data.ms.snapshot
appdata/tunarr/stream-cache.json
appdata/tunarr/streams/
node_modules/
package-lock.json
package.json
.env
appdata/agregarr/posters/
appdata/tunarr/ms-snapshots/
appdata/cleanuparr/plex-client-id.txt
appdata/agregarr/tmdb-poster-cache/
appdata/agregarr/settings.json
appdata/seerr/settings.json
appdata/tunarr/xmltv.xml
appdata/sonarr/logs.db-shm
appdata/sonarr/logs.db-wal
appdata/audiobookshelf/data/tmp
appdata/audiobookshelf/data/items
appdata/audiobookshelf/data/cache
appdata/audiobookshelf/config/migrations
*.db-shm
*.db-wal
*.bak
*.sqlite
